<div class="row pb-3">
  <div class="col ">
    <a class="btn btn-primary searchbutton" [routerLink]="['/result']">Back</a>
  </div>
</div>

<div class="row pl-3">
  <div class="col">
    <h4>{{(selectedHotel | async)?.HotelName}}</h4>
  </div>
</div>
<div class="row pl-3 pt-3 pb-5">
  <div class="col">
    <span>
      {{(selectedHotel | async)?.Address1}}
      <br> {{(selectedHotel | async)?.Address2}}
      <br> {{(selectedHotel | async)?.Pincode}}
    </span>
  </div>
</div>
<div class="row pl-3" *ngIf="!!(selectedHotel | async).DayRate">
  <div class="col">
    <span>Day Rate : {{(selectedHotel | async)?.DayRate}}</span>
    <br>
    <span>Night Rate : {{(selectedHotel | async)?.NightRate}}</span>
  </div>
</div>