<div class="container-fluid">
  <div class="row">
    <div class="col">
      <yoyo-header></yoyo-header>
    </div>
  </div>


  <div class="row mainContent mx-4 my-4">
    <div class="col-12 col-md-4 align-self-center">
      <img src="assets/images/image3.jpeg" alt="App-Logo" class="appLogo" >
    </div>

    <div class="col-12 col-md-8 align-self-center">
      <router-outlet></router-outlet>
    </div>

  </div>


  <div class="row">
    <div class="col">
      <yoyo-footer></yoyo-footer>
    </div>
  </div>

</div>