<div class="row">
  <div class="col">
    <h4>Hotel Results</h4>
  </div>
</div>
<div class="row py-3">
  <div class="col">
    <button type="button" class="btn btn-primary searchbutton" (click)="changeSearch()">Change Search</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Hotel Name</th>
          <th>Location</th>
          <th>City.State</th>
          <th>Zip</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let hotel of (hotelList | async) | filterHotel: (hotelKey | async)"> -->
        <tr *ngFor="let hotel of (hotelList | async) ">
        
          <td>{{ hotel.HotelName }}</td>
          <td>{{ hotel.Location }}</td>
          <td>{{ hotel.City }}</td>
          <td>{{ hotel.Pincode}}</td>
          <td>
            <button type="button" class="btn btn-primary searchbutton" (click)="viewHotelDetails(hotel)">View Hotel</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>